{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>吃翔翔达人</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
        <meta name="keywords" content="HTML5 经典 小游戏 贪吃蛇">
        <meta name="description" content="">

        <link href="{% static 'eatshit/css/mix_snake.css' %}" rel="stylesheet">

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="warp">
            <div id="home-header" class="home-header">
                <div class=""><img id="slogan" class="slogan" src="{% static 'eatshit/img/slogan_300x96.png' %}"></div>
            </div>

            <div class="upload">
                <form class="form-horizontal" method="post" action="" enctype='multipart/form-data'>{% csrf_token %}
                    <span class="input-tip">撕心裂肺想吃翔翔的盆友头像(选填)</span>
                    <div id="photo-layer" class="photo-layer">
                    {% ifequal photo_data '' %}
                        <img id="photo" class="photo" src="" />
                    {% else %}
                        {% ifequal photo_data.image '' %}
                            <img id="photo" class="photo" src="" />
                        {% else %}
                            <img id="photo" class="photo" src={{ photo_data.image }} />
                        {% endifequal %}
                    {% endifequal %}
                    {{ form.image }}
                    </div>
                    <span class="input-tip">撕心裂肺想吃翔翔的盆友名字(必填)</span>
                    <div>{{ form.name }}</div>
                    <div><button type="submit" class="btn btn-control summit-photo">开始游戏</button></div>
                </form>
            </div>
        </div>
        <script language="Javascript">
            (function() {
        document.getElementById("id_image").onchange = function(){
            change();
        };

        function change() {
             var pic = document.getElementById("photo");
             var file = document.getElementById("id_image");
             var ext=file.value.substring(file.value.lastIndexOf(".")+1).toLowerCase();
             // gif在IE浏览器暂时无法显示
             if(ext!='png'&&ext!='jpg'&&ext!='jpeg'){
                 alert("文件必须为图片！"); return;
             }
             // IE浏览器
             if (document.all) {
                 file.select();
                 var reallocalpath = document.selection.createRange().text;
                 var ie6 = /msie 6/i.test(navigator.userAgent);
                 // IE6浏览器设置img的src为本地路径可以直接显示图片
                 if (ie6) pic.src = reallocalpath;
                 else {
                     // 非IE6版本的IE由于安全问题直接设置img的src无法显示本地图片，但是可以通过滤镜来实现
                     pic.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='image',src=\"" + reallocalpath + "\")";
                     // 设置img的src为base64编码的透明图片 取消显示浏览器默认图片
                     pic.src = 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==';
                 }
             }else{
                 html5Reader(file);
             }
        }

        function html5Reader(file){
             var file = file.files[0];
             var reader = new FileReader();
             reader.readAsDataURL(file);
             reader.onload = function(e){
                 var pic = document.getElementById("photo");
                 pic.src=this.result;
             }
        }
            })();
        </script>
    </body>
</html>
