{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>贪吃翔</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="HTML5 经典 小游戏 贪吃蛇">
        <meta name="description" content="">

        <link href="{% static 'eatshit/css/mix_snake.css' %}" rel="stylesheet">

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="warp">
            <div id="home-header" class="home-header">
                <div class=""><h1>吃翔翔达人</h1></div>
                <div class="">爱TA就给TA吃翔翔!!!</div>
            </div>

            <div class="upload">
                <form class="form-horizontal" method="post" action="" enctype='multipart/form-data'>{% csrf_token %}
                    <span>上传吃翔翔的好友头像</span>
                    <div>{{ form.image }}</div>
                    <div><img class="photo" src={{ photo_data.image }} /></div>
                    <span>上传吃翔翔的好友名字</span>
                    <div>{{ form.name }}</div>
                    <div><button type="submit" class="btn btn-control summit-photo">开始游戏</button></div>
                </form>
            </div>
        </div>
    </body>
</html>
