{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>贪吃翔</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="HTML5 经典 小游戏 贪吃蛇">
        <meta name="description" content="">

        <link href="{% static 'eatshit/css/mix_snake.css' %}" rel="stylesheet">

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div id="header" class="header">
            <div class="warp">
                <div class="countDown"><span>剩余时间：</span><span id="leftTime" class="leftTime">180</span></div>

                <div id="scorePanel" class="scorePanel">
                    <!-- <strong>最高分</strong> -->
                    <div id="highestScore" class="highestScore">0</div>
                    <!-- <strong>分数</strong> -->
                    <span id="score" class="score">0</span><span>坨翔翔</span>
                </div>

                <div class="shitPanel">
                    <img id="shitLogo" class="shitLogo" src="" />
                </div>
            </div>
        </div>

        <div id="warp" class="warp">
            <div id="gamePanel" class="gamePanel" tabindex="0">
                <canvas id="myCanvas" class="myCanvas" width="300" height="300">
                    Your browser does not support the canvas element.
                </canvas>
            </div>

            <div id="controlPanel" class=" hidden">
                <select id="speed" class="speed">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                </select>
                <button id="start" class="start_button" onclick="startGame(this)">开始</button>
                <button id="control" class="control_button" onclick="control(this)" disabled="true">暂停</button>
            </div>

            <div id="footer" class="footer">
                <p>Power by HereToy</p>
            </div>

            <div id="hidden" class="hidden">
                {% ifequal photo_data '' %}
                    <img id="photo" src="{% static 'eatshit/img/photo/wq.png' %}" />
                {% else %}
			{% ifequal photo_data.image '' %}
			    <img id="photo" src="{% static 'eatshit/img/photo/wq.png' %}" />
			{% else %}
			    <img id="photo" src="{{ photo_data.image }}" />
			{% endifequal %}
                {% endifequal %}
                <img id="shit" src="" />
            </div>
        </div>

        <div id="share" class="share">
            <div id="achieve" class="achieve">
                {% ifequal photo_data '' %}{% else %}<span class="red">{{ photo_data.name }}</span>{% endifequal %}同学，恭喜您！在疯狂吃翔游戏中，您疯狂的吃掉了<span id="shitNum" class="red"></span>坨翔翔，击败了<span id="rank" class="red"></span>%的同学，英勇的获得<span id="title" class="red"></span>称号！！！
            </div>
            <div>
                <button id="once_more" class="once_more" onclick="once_more(this)">再来一顿</button>
                <button id="share_friend" class="share_friend" onclick="share_friend(this)">通知好友</button>
            </div>
        </div>

        <script src="{% static 'eatshit/js/hammer.min.js' %}"></script>
        <script src="{% static 'eatshit/js/mix_snake.js' %}"></script>
        <script language="JavaScript">
		function findDimensions() {  // 函数：获取尺寸
		     //获取窗口宽度
		     if (window.innerWidth)
			winWidth = window.innerWidth;
		     else if ((document.body) && (document.body.clientWidth))
			winWidth = document.body.clientWidth;

		     // 获取窗口高度
		     if (window.innerHeight)
			winHeight = window.innerHeight;
		     else if ((document.body) && (document.body.clientHeight))
			winHeight = document.body.clientHeight;

		     // 通过深入Document内部对body进行检测，获取窗口大小
		     if (document.documentElement  && document.documentElement.clientHeight && document.documentElement.clientWidth) {
			winHeight = document.documentElement.clientHeight;
			winWidth = document.documentElement.clientWidth;
		     }

		     return {
			width: winWidth,
			height: winHeight
		     }
		}


            var widthNum = 0,
                heightNum = 0,
                achieve = '',
                threeCount = 0;
            var btn = document.getElementById("start"),
                startBtn = document.getElementById("control");

            function threeCountDown() {
                if(threeCount < 3) {
                    threeCount += 1;
                } else {
                    threeCount = 0;
                    clearInterval(tcd);
                    control(btn);
                }
            }


            (function() {
                function preventDefault(ev) {
                    ev.preventDefault()
                }

                document.addEventListener('touchmove', preventDefault, false);

                var size = findDimensions(),
                    width = height = 25;

                widthNum = Math.floor((size.width-30)/width);
                heightNum = Math.floor((size.height-120)/height);

                document.styleSheets[0].rules[5].style.width = String(width * widthNum) + "px";
                document.getElementById("myCanvas").width = width * widthNum;
                document.getElementById("myCanvas").height = height * heightNum;
            })();





            var shitNum = 4,
                shitId = Math.floor(Math.random() * shitNum),
                shitUrl = "/static/" + "eatshit/img/shit/" + String(shitId) + ".jpg";
            document.getElementById("shit").src = shitUrl;
            document.getElementById("shitLogo").src = shitUrl;

            var gameMrg = new Ga1900("myCanvas");
            function startGame(startBtn) {
                /*var step = document.getElementById("speed").value;*/
                var step = 4;
                document.getElementById("leftTime").innerHTML = 60;
                gameMrg.startGame(step);
                document.getElementById("gamePanel").focus();
                pause = true;
                btn.innerHTML = "暂停";
                btn.disabled = false;
            }

            var pause = true;
            function control(btn) {
                if (pause) {
                    gameMrg.pause();
                    btn.innerHTML = "继续";
                } else {
                    gameMrg.goon();
                    btn.innerHTML = "暂停";
                    document.getElementById("gamePanel").focus();
                }
                pause = !pause;
            }

            function once_more(moreBtn) {
                document.getElementById("share").style.display = "none";
                var startBtn = document.getElementById("start");
                startGame(startBtn);
                control(btn);
                tcd = setInterval(threeCountDown, 1000);
            }
            function share_friend(sfBtn) {
                url = "{% url 'eatshit:share' %}?achieve={{ photo_data.name|default:'' }}" + achieve;
                location.href = url;
            }


            startGame(startBtn);
            control(btn);
            tcd = setInterval(threeCountDown, 1000);
        </script>
    </body>
</html>
