{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>吃翔翔达人</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
        <meta name="keywords" content="HTML5 经典 小游戏 贪吃蛇">
        <meta name="description" content="">

        <link href="{% static 'eatshit/css/mix_snake.css' %}" rel="stylesheet">
        <link href="{% static 'eatshit/css/pam.css' %}" rel="stylesheet">

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

	<script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "//hm.baidu.com/hm.js?a5e5c983f012b7f8c759c83f798b707b";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
	</script>
    </head>
    <body>
        <div class="warp">
        </div>

        <script src="{% static 'eatshit/js/pam.js' %}"></script>
        <script src="{% static 'js/ht.min.js' %}"></script>
        <script type="text/javaScript">
            (function () {
                var res = [
                    {"image": "{% static 'eatshit/img/share.png' %}", "info": "", "link": ""},
                ]
                _bg(0, res, 10000);
            })();

            init({
                "imgUrl" : "{{ domain }}{{ photo_data.image }}",
                "link" : "{{ domain }}/cxxdr",
                "desc" : "{{ share }}",
                "title" : "吃翔翔达人"
            });
        </script>
    </body>
</html>
