{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Heretoy | 口袋社交小游戏中心</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
        <meta name="keywords" content="HTML5 经典 小游戏 贪吃蛇">
        <meta name="description" content="">

        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

        <link rel="stylesheet" href="{% static 'html5games/css/html5games.css' %}" />

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <script type="text/javascript" name="baidu-tc-cerfication" src="http://apps.bdimg.com/cloudaapi/lightapp.js#abe51080d473c59514606426dfd6669f"></script><script type="text/javascript">window.bd && bd._qdc && bd._qdc.init({app_id: '374fbc51f1cdd1f393e2d4ba'});</script>

	<script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "//hm.baidu.com/hm.js?6093e9b13a22e532ae690a827f620e23";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
	</script>
    </head>
    <body>
        <div class="content">
            <div class="header">
                <div class="warp">HereToy</div>
            </div>
            <div id="menu" class="menu">
                <div id="hot" class="hot">Hot</div>
                <div id="new" class="new" style="color: #ed4b3c; border-bottom: 5px #ed4b3c solid;">New</div>
            </div>
            <div id="hots" class="hots" style="display: none;">
                {% for h5 in hots %}
                    <div class="game">
                        <div id="logo" class="logo"><img src="{{ h5.image }}"></div>
                        <div id="play" class="play"><a href="{% url 'html5games:play' h5.pk %}" target="_blank">试玩</a></div>
                        <div id="info" class="info">
                            <div class="name">{{ h5.name }}</div>
                            <div class="num"><span class="pnum">玩</span><label>{{ h5.play }}</label><span class="lnum">赞</span><label>{{ h5.like }}</label><span class="unum">踩</span><label>{{ h5.unlike }}</label></div>
                            <div class="descr">{{ h5.descr }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div id="news" class="news">
                {% for h5 in news %}
                    <div class="game">
                        <div id="logo" class="logo"><img src="{{ h5.image }}"></div>
                        <div id="play" class="play"><a href="{% url 'html5games:play' h5.pk %}" target="_blank">试玩</a></div>
                        <div id="info" class="info">
                            <div class="name">{{ h5.name }}</div>
                            <div class="num"><span class="pnum">玩</span><label>{{ h5.play }}</label><span class="lnum">赞</span><label>{{ h5.like }}</label><span class="unum">踩</span><label>{{ h5.unlike }}</label></div>
                            <div class="descr">{{ h5.descr }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="hfooter" style="padding-top: 0">
            <div class="htext">想玩更多小游戏?</div>
            <div class="hbutton"><a href="{% static 'html5games/downloads/heretoy.apk' %}" style="color: white;">立即下载Heretoy客户端</a></div>
        </div>

        <script language="Javascript">
var createAjax=function(){
    var xhr=null;
    try{//IE系列浏览器
        xhr=new ActiveXObject("microsoft.xmlhttp");
    }catch(e1){
        try{//非IE浏览器
            xhr=new XMLHttpRequest();
        }catch(e2){
            window.alert("您的浏览器不支持ajax，请更换！");
        }
    }
    return xhr;
};
var ajax=function(conf){
    var type=conf.type;//type参数,可选 
    var url=conf.url;//url参数，必填 
    var data=conf.data;//data参数可选，只有在post请求时需要 
    var dataType=conf.dataType;//datatype参数可选 
    var success=conf.success;//回调函数可选
    if(type==null){//type参数可选，默认为get
        type="get";
    }
    if(dataType==null){//dataType参数可选，默认为text
        dataType="text";
    }
    var xhr=createAjax();
    xhr.open(type,url,true);
    if(type=="GET"||type=="get"){
        xhr.send(null);
    }else if(type=="POST"||type=="post"){
        xhr.setRequestHeader("content-type","application/x-www-form-urlencoded");
        xhr.send(data);
    }
    xhr.onreadystatechange=function(){
        if(xhr.readyState==4&&xhr.status==200){
            if(dataType=="text"||dataType=="TEXT"){
                if(success!=null){//普通文本
                    success(xhr.responseText);
                }
            }else if(dataType=="xml"||dataType=="XML"){
                if(success!=null){//接收xml文档
                    success(xhr.responseXML);
                }
            }else if(dataType=="json"||dataType=="JSON"){
                if(success!=null){//将json字符串转换为js对象
                    success(eval("("+xhr.responseText+")"));
                }
            }
        }
    };
};
            document.getElementById("hot").onclick = function(){
                document.getElementById('hots').style.display = "block";
                document.getElementById('news').style.display = "none";
                document.getElementById('hot').style.color = "#ed4b3c";
                document.getElementById('hot').style.borderBottom = "5px #ed4b3c solid";
                document.getElementById('new').style.color = "#676566";
                document.getElementById('new').style.borderBottom = "1px #dcdcdc solid";
            };
            document.getElementById("new").onclick = function(){
                document.getElementById('hots').style.display = "none";
                document.getElementById('news').style.display = "block";
                document.getElementById('hot').style.color = "#676566";
                document.getElementById('hot').style.borderBottom = "1px #dcdcdc solid";
                document.getElementById('new').style.color = "#ed4b3c";
                document.getElementById('new').style.borderBottom = "5px #ed4b3c solid";
            };
        </script>
    </body>
</html>
