{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Heretoy | 口袋社交小游戏中心</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
        <meta name="keywords" content="HTML5 经典 小游戏 贪吃蛇">
        <meta name="description" content="">

        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

        <link rel="stylesheet" href="{% static 'html5games/css/html5games.css' %}" />

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <script type="text/javascript" name="baidu-tc-cerfication" src="http://apps.bdimg.com/cloudaapi/lightapp.js#abe51080d473c59514606426dfd6669f"></script><script type="text/javascript">window.bd && bd._qdc && bd._qdc.init({app_id: '374fbc51f1cdd1f393e2d4ba'});</script>
 
	<script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "//hm.baidu.com/hm.js?7af735f2f00556925520de9f0ec5b510";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
	</script>
    </head>
    <body style="max-width: 500px; margin: 0 auto;">
        <div style="display: none"><img src="{{ domain }}{% static 'html5games/img/heretoy_logo.jpg' %}"></div>
        <div class="content">
            <div class="header">
                <div class="warp">HereToy</div>
            </div>
            <div id="menu" class="menu">
                <div id="hot" class="hot">Hot</div>
                <div id="new" class="new" style="color: #ed4b3c; border-bottom: 5px #ed4b3c solid;">New</div>
            </div>
            <div id="hots" class="hots" style="display: none;">
                {% for h5 in hots %}
                    <div class="game" onclick="window.open('{% url 'html5games:share' h5.pk %}')">
                        <div id="logo" class="logo"><img src="{{ h5.image }}"></div>
                        <div id="play" class="play"><a>试玩</a></div>
                        <div id="info" class="info">
                            <div class="name">{{ h5.name }}</div>
                            <div class="num"><span class="pnum">玩</span><label>{{ h5.play }}</label><span class="lnum">赞</span><label>{{ h5.like }}</label><span class="unum">踩</span><label>{{ h5.unlike }}</label></div>
                            <div class="descr">{{ h5.descr }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div id="news" class="news">
                {% for h5 in news %}
                    <div class="game" onclick="window.open('{% url 'html5games:share' h5.pk %}')">
                        <div id="logo" class="logo"><img src="{{ h5.image }}"></div>
                        <div id="play" class="play"><a>试玩</a></div>
                        <div id="info" class="info">
                            <div class="name">{{ h5.name }}</div>
                            <div class="num"><span class="pnum">玩</span><label>{{ h5.play }}</label><span class="lnum">赞</span><label>{{ h5.like }}</label><span class="unum">踩</span><label>{{ h5.unlike }}</label></div>
                            <div class="descr">{{ h5.descr }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="hfooter" style="padding-top: 0">
            {% if fromApple %}
            <div class="htext">IOS客户端正在玩命开发</div>
            <div class="htext">您可以先关注我们微信公号：iheretoy</div>
            {% else %}
            <div class="htext">想玩更多小游戏?</div>
            <div class="hbutton" onclick="window.location='{{ app_url }}'"><span>立即下载Heretoy客户端</span></div>
            {% endif %}
        </div>

        <script language="Javascript">
            document.getElementById("hot").onclick = function(){
                document.getElementById('hots').style.display = "block";
                document.getElementById('news').style.display = "none";
                document.getElementById('hot').style.color = "#ed4b3c";
                document.getElementById('hot').style.borderBottom = "5px #ed4b3c solid";
                document.getElementById('new').style.color = "#676566";
                document.getElementById('new').style.borderBottom = "1px #dcdcdc solid";
            };
            document.getElementById("new").onclick = function(){
                document.getElementById('hots').style.display = "none";
                document.getElementById('news').style.display = "block";
                document.getElementById('hot').style.color = "#676566";
                document.getElementById('hot').style.borderBottom = "1px #dcdcdc solid";
                document.getElementById('new').style.color = "#ed4b3c";
                document.getElementById('new').style.borderBottom = "5px #ed4b3c solid";
            };

            // 微信分享的数据
            var wxData = {
                "appId": "", // 服务号可以填写appId
                "imgUrl" : "{{ domain }}{% static 'html5games/img/heretoy_logo.jpg' %}",
                "link" : "{{ domain }}",
                "desc" : "Heretoy，口袋社交小游戏中心",
                "title" : "HereToy"
            };

            var onmessage = function(e) {
                data = e.data;
                wxData['desc'] = data;
                document.getElementById("description").content = data;
            };
            //监听postMessage消息事件
            if (typeof window.addEventListener != 'undefined') {
                window.addEventListener('message', onmessage, false);
            } else if (typeof window.attachEvent != 'undefined') {
                window.attachEvent('onmessage', onmessage);
            }

        </script>
        <script src="{% static 'js/wx.js' %}"></script>
        <script src="{% static 'js/yx.js' %}"></script>
        </script>
    </body>
</html>
