{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>口袋小游戏 | 快乐一触即达！</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
        <meta name="keywords" content="小游戏 HereToy 社交小游戏 手机小游戏 html5小游戏 微信小游戏">
        <meta name="description" content="HereToy，口袋社交小游戏中心。百款游戏，每天更新，无需下载，点开即玩；玩过的游戏自动保存，无网络也可再玩；不仅可以跟微信好友玩，还可以跟其他社交圈好友玩；">

        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

        <link rel="stylesheet" href="{% static 'html5games/css/html5games.css' %}" />

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
 
        <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "//hm.baidu.com/hm.js?f2d763b8f092643b8497b99a7cb7fc64";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
        </script>
    </head>
    <body>
        <div class="bg_game"><img src="{% static 'html5games/img/bg_game.png' %}"></div>

        <div class="pc_container">
            <div class="home_left_container">
                <div class="pc_phone"><img src="{% static 'html5games/img/pc_phone.png' %}"></div>
            </div>
            <div class="home_right_container">
                <div onclick="window.location='{{ domain }}'" style="cursor: pointer;">
                    <div class="pc_heretoy_logo"><img src="{% static 'html5games/img/heretoy_logo.png' %}"></div>
                    <div class="pc_heretoy_desc"><img src="{% static 'html5games/img/pc_slogan.png' %}"></div>
                </div>
                <div class="home_pc_heretoy_phone">
                    <div class="pc_heretoy_iphone"><span>iPhone版下载</span></div>
                    <div class="pc_heretoy_android" onclick="window.location='{{ app_url }}'"><span>Android版下载</span></div>
                </div>
                <div class="home_pc_heretoy_qrcode"><img src="http://cli.clewm.net/qrcode/2014/09/26/2309344930.png?Fri%20Sep%2026%202014%2023:09:34%20GMT+0800%20(CST)"></div>
            </div>
        </div>

        <script language="Javascript">
            // 微信分享的数据
            var wxData = {
                "appId": "", // 服务号可以填写appId
                "imgUrl" : "{{ domain }}{% static 'html5games/img/heretoy_logo.png' %}",
                "link" : "{{ domain }}",
                "desc" : "Heretoy，口袋社交小游戏中心",
                "title" : "HereToy"
            };
        </script>
        <script src="{% static 'js/wx.js' %}"></script>
        <script src="{% static 'js/yx.js' %}"></script>
        </script>
    </body>
</html>
