{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ h5game.name }}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
        <meta name="keywords" content="小游戏 HereToy 社交小游戏 手机小游戏 html5小游戏 微信小游戏">
        <meta name="description" content="{{ h5game.descr }}">

        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

        <link rel="stylesheet" href="{% static 'html5games/css/html5games.css' %}" />

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

	<script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "//hm.baidu.com/hm.js?eb56498242ec02940e80c3f0405d89a8";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
	</script>
    </head>
    <body>
        <div class="pc_container">
            <div class="left_container">
                <div class="pc_game">
                    <div id="logo" class="logo"><img src="{{ h5game.image }}"></div>
                    <div id="info" class="info">
                        <div class="name">{{ h5game.name }}</div>
                        <div class="num"><img src="{% static 'html5games/img/play.png' %}"></img><label>{{ h5game.play }}</label><img src="{% static 'html5games/img/like.png' %}"></img><label>{{ h5game.like }}</label><img src="{% static 'html5games/img/unlike.png' %}"></img><label>{{ h5game.unlike }}</label></div>
                        <div class="descr">{{ h5game.descr }}</div>
                    </div>
                </div>
                <div id="iframe_container" class="pc_iframe_container">
                    <iframe src="{{ h5game.url }}" id="pc_iframe" class="pc_iframe"></iframe>
                </div>
            </div>
            <div class="right_container">
                <div onclick="window.location='{{ domain }}'" style="cursor: pointer;">
                    <div class="pc_heretoy_logo"><img src="{% static 'html5games/img/heretoy_logo.png' %}"></div>
                    <div class="pc_heretoy_desc"><p>HereToy</p><span>口袋社交小游戏中心</span></div>
                </div>
                <div class="pc_heretoy_phone">
                    <div class="pc_heretoy_iphone"><span>iPhone版下载</span></div>
                    <div class="pc_heretoy_android" onclick="window.location='{{ app_url }}'"><span>Android版下载</span></div>
                </div>
                <div class="pc_heretoy_qrcode"><img src="http://cli.clewm.net/qrcode/2014/09/26/2309344930.png?Fri%20Sep%2026%202014%2023:09:34%20GMT+0800%20(CST)"></div>
            </div>
        </div>
        <script language="Javascript">
        </script>
    </body>
</html>
