{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Heretoy | 口袋社交小游戏中心</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
        <meta name="keywords" content="HTML5 经典 小游戏 贪吃蛇">
        <meta name="description" content="">

        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

        <link rel="stylesheet" href="{% static 'html5games/css/html5games.css' %}" />

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

	<script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "//hm.baidu.com/hm.js?6093e9b13a22e532ae690a827f620e23";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
	</script>
    </head>
    <body>
        <div class="header">{{ h5game.name }}</div>
        <div id="iframe_container" class="iframe_container">
            <iframe src="{{ h5game.url }}" id="iframe" class="iframe"></iframe>
        </div>
        <div class="footer">
            <div class="evaluate">
                <div class="like">赞 {{ h5game.like }}</div>
                <div class="unlike">踩 {{ h5game.unlike }}</div>
            </div>
        </div>
        <script language="Javascript">
        </script>
    </body>
</html>
