{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ h5game.name }}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
        <meta name="keywords" content="小游戏 HereToy 社交小游戏 手机小游戏 html5小游戏 微信小游戏">
        <meta id="description" name="description" content="{{ h5game.descr }}">

        <link rel="stylesheet" href="{% static 'html5games/css/html5games.css' %}" />

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

	<script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "//hm.baidu.com/hm.js?ac8513e56b2f9ec5e944842787e6c936";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
	</script>
    </head>
    <body>
        <div style="display: none"><img src="{{ h5game.image }}"></div>
        <div id="iframe_container" class="heretoy_iframe_container">
            <iframe src="{{ h5game.url }}" id="iframe" class="heretoy_iframe"></iframe>
        </div>
        <div id="footer" class="heretoy_footer">
            <div class="heretoy_logo"><img src="{% static 'html5games/img/heretoy_logo.png' %}"></div> 
            {% if fromApple %}
            <div id="heretoy_close" class="heretoy_close"><img class="heretoy_cls" src="{% static 'html5games/img/close.png' %}"></img></div>
            <div class="heretoy_apple">
                <p class="heretoy_ap">IOS客户端正在玩命开发</p>
                <p class="heretoy_ap">您可先关注我们微信公号：iheretoy</p>
            </div>
            {% else %}
            <div class="heretoy_desc">
                <h3 class="heretoy_app">口袋小游戏</h3>
                <img class="heretoy_star" src="{% static 'html5games/img/star.png' %}"></img>
                <span class="heretoy_ds">快乐一触即达！</span>
            </div>
            <div id="heretoy_close" class="heretoy_close"><img class="heretoy_cls" src="{% static 'html5games/img/close.png' %}"></img></div>
            <div class="heretoy_download"><a id="heretoy_dl" class="heretoy_dl" onclick="window.location='{{ app_url }}'">立即下载</a></div>
            {% endif %}
        </div>
        <script src="{% static 'js/ht.min.js' %}"></script>
        <script language="Javascript">
            document.getElementById("heretoy_close").onclick = function(){
                document.getElementById("footer").style.display = "none"; 
            };

            init({
                "imgUrl" : "{{ domain }}" + "{{ h5game.image|default:'' }}",
                "link" : "{{ domain }}/share/{{ h5game.pk}}",
                "desc" : "{{ h5game.descr }}",
                "title" : "{{ h5game.name }}"
            });

            var onmessage = function(e) {
                data = JSON.parse(e.data);
                htData['imgUrl'] = data['imgUrl'];
                htData['desc'] = data['desc'];
                document.getElementById("description").content = data['desc'];
            };
            //监听postMessage消息事件
            if (typeof window.addEventListener != 'undefined') {
                window.addEventListener('message', onmessage, false);
            } else if (typeof window.attachEvent != 'undefined') {
                window.attachEvent('onmessage', onmessage);
            }
        </script>
    </body>
</html>
