/* For a link/href */
a:link {
    text-decoration: none;
}
a:active {
    text-decoration: blink;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    text-decoration: none;
}


body {
    margin: 0;
    padding: 0;
    text-align: center;
    font: normal 14px/1.5 Tahoma,Helvetica,arial,sans-serif
 }

.warp {
    width: 300px;
    margin: auto;
}

.header {
    height: 50px;
    margin-bottom: 20px;
    background-color: #ffdc40;
}

.logo {
    float: left;
}

.countDown {
    float: left;
    padding-top: 15px;
}

.shitPanel {
    float:  right;
}

.scorePanel {
    float: right;
    padding-top: 15px;
}

.shitLogo {
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

.highestScore {
    color: red;
    font-weight: bold;
    display: none;
}

.score {
    font-weight: bold;
    margin-left: 10px;
    margin: 0 5px 0 10px;
}

.gamePanel {
}

.myCanvas {
    border: 1px solid #c3c3c3;
}

.speed {
    display: none;
}

.start_button, .control_button {
    width: 80px;
    height: 30px;
    margin: 30px 10px;
}

.hidden {
    display: none;
}

.hidden>img {
    width: 17px;
    height: 17px;
}

.footer {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 10px;
    background: grey;
}

.photo_input {
    width: 100%;
    height: 100%;
    position: relative;
    top: -102px;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
}

.name_input {
    width: 200px;
    height: 40px;
    font-size: 18px;
    border: 4px solid #9e660f;
    box-sizing: border-box;
}

.input-tip {
    color: #9d670d;
    font-weight: bold;
}

.name_input {
    margin: 5px 0 25px 0;
    padding-left: 10px;
}

.photo-layer {
    width: 70px;
    height: 70px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 25px;
    border: 4px solid #9e660f;
}

.photo {
    width: 100%;
    height: 100%;
    margin: 0 0 25px 0;
}

.summit-photo {
    width: 200px;
    height: 55px;
    font-size: 20px;
    border: 4px solid #9e660f;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #ffdc40;
}

.tips {
    color: #dcdcdc;
    margin-top: 35px;
}

.start {
    margin: 50px;
}

.start-game {
    padding: 10px 43px;
    border: 1px solid black;
    border-radius: 4px;
}


.share {
    width: 250px;
    margin: auto;
    height: 350px;
    padding: 20px;
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    z-index: -1;
}

.countDownLayer {
    width: 250px;
    margin: auto;
    height: 250px;
    position: absolute;
    top: 125px;
    left: 0;
    right: 0;
    display: block;
    border-radius: 10px;
    background-color: #ffdc40;
    z-index: 999;
}

.count_down_bg {
    width: 200px;
}

.threeCount {
    font-size: 50px;
    position: relative;
    top: -160px;
    color: white;
}

.achieve {
    width: 250px;
    height: 175px;
    margin: auto;
    padding: 20px;
    font-size: 17px;
    background-color: white;
    box-sizing: border-box;
}

.red {
    color: red;
}

.share_friend, .once_more {
    width: 123px;
    height: 55px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    border: 4px solid #9e660f;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #ffdc40;
}

.share_friend {
    margin: 25px 0;
}

.slogan {
    width: 300px;
    height: 96px;
    margin: 15px 0;
}
