* {
    border: 0;
    padding: 0;
    margin: 0;
}

html, body {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    -webkit-touch-callout:none;
    overflow: hidden;
}

img {
    width: 100%;
}

.swiper-container {
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    perspective: 1200px;
}
.swiper-wrapper {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.swiper-slide {
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.page-container {
    position: relative;
}

/* LOADING */
#loading {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 60;
}
#spinner {
    margin: 50% auto;
    width: 90px;
    height: 90px;
    position: relative;
    text-align: center;
    -webkit-animation: rotate 2.0s infinite linear;
    animation: rotate 2.0s infinite linear;
}
#dot1, #dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #67CF22;
    border-radius: 100%;
    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
}
#dot2 {
    top: auto;
    bottom: 0px;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}
@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes bounce {
    0%, 100% {
        -webkit-transform: scale(0.0);
    }
    50% {
        -webkit-transform: scale(1.0);
    }
}
@keyframes bounce {
    0%, 100% {
        -webkit-transform: scale(0.0);
        transform: scale(0.0);
    }
    50% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

/* MAIN */
#main {
    position: absolute;
}

.hide{
    display: none;
}

/* PAGE 0 */
#page0 {
    background-image: url("/static/yiguankoudai/img/0.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
#page0-bg {
    position: absolute;
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
}
.zoom {
    animation: zoom-ani 4s linear forwards;
    -webkit-animation: zoom-ani 4s linear forwards;
}
@keyframes zoom-ani {
    0% {
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}
@-webkit-keyframes zoom-ani {
    0% {
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

/* PAGE 1 */
#page1 {
    background-image: url("/static/yiguankoudai/img/1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* PAGE 2 */
#page2 {
    background-image: url("/static/yiguankoudai/img/2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* PAGE 3 */
#page3 {
    background-image: url("/static/yiguankoudai/img/3.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* PAGE 4 */
#page4 {
    background-image: url("/static/yiguankoudai/img/4.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

/* PAGE 5 */
#page5 {
    background-image: url("/static/yiguankoudai/img/5.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

/* PAGE 6 */
#page6 {
    background-image: url("/static/yiguankoudai/img/6.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}


/* PAGE 7 */
#page7 {
    background-image: url("/static/yiguankoudai/img/7.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}


/* PAGE 8 */
#page8 {
    background-image: url("/static/yiguankoudai/img/8.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

/* PAGE 9 */
#page9 {
    background-image: url("/static/yiguankoudai/img/9.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
#page10 {
    background-image: url("/static/yiguankoudai/img/10.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
#page11 {
    background-image: url("/static/yiguankoudai/img/11.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}       
#page12 {
    background-image: url("/static/yiguankoudai/img/12.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}   
#page13 {
    background-image: url("/static/yiguankoudai/img/13.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}  
#swiper-tip {
    position: absolute;
    width: 16%;
    left: 43%;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    animation: ufo-ani 1s ease-in-out 0 infinite alternate;
    -webkit-animation: ufo-ani 1s ease-in-out 0 infinite alternate;
    z-index: 15;
}
@keyframes ufo-ani {
    0% {
        bottom: 0;
    }
    100% {
        bottom: 1rem;
    }
}

@-webkit-keyframes ufo-ani {
    0% {
        bottom: 0;
    }
    100% {
        bottom: 1rem;
    }
}
